    <footer>
<p class="text-muted credit">Ce premier #journocamp est soutenu par <a href="http://www.editions-eyrolles.com">Eyrolles</a> <a href="http://www.samsa.fr/">Samsa</a> <a href="http://www.cfi.fr/">CFI</a> <a href="http://www.wan-ifra.org/">Wan Ifra</a> <a href="http://racontr.com/">racontr</a> <a href="http://www.francemediasmonde.com/">France Medias Monde</a> <a href="http://www.metronews.fr">metronews</a> <a href="http://fr.tuto.com/">tuto.com</a> <a href="http://esj-pro.fr/">ESJ Pro</a> <a href="https://www.ulule.com/">ulule</a> <a href="http://www.lafonderie-idf.fr/">La Fonderie</a></p>
       <p class="text-muted credit">CC/by {{ site.name }} &middot; <a href="http://journocamp.org"> #journocamp </a> - Un projet porté par <a href="http://www.newsresources.org">Cédric Motte / newsresources</a>.</p>
    </footer>
 <!-- Bootstrap core JavaScript-->
    <script src="{{ site.baseurl }}/js/jquery-1.10.2.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/hc.js"></script>

</body>
</html>
