    <footer>
       <p class="text-muted credit">CC/by {{ site.name }} &middot; <a href="http://journocamp.org"> #journocamp </a></p>
       
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=9779660; 
var sc_invisible=1; 
var sc_security="b5876f3a"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "https://newsresources.github.io/journocamp_1st/");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="click tracking"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/9779660/0/b5876f3a/1/"
alt="click tracking"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
    </footer>
 <!-- Bootstrap core JavaScript-->
    <script src="{{ site.baseurl }}/js/jquery-1.10.2.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/hc.js"></script>

</body>
</html>
